<a href="https://colab.research.google.com/github/Chow125/crt-python/blob/main/CRT_TRAINING_TECHNICAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 universal language syntax

****UNIVERSAL LANGUAGE SYNTAX  
for (initialisation;condition;step){
  block of statements
}


***PYTHON LANGUAGE SYNTAX
for i in range(start,end,step);
block of statements

In [ ]:
# UNIVERSAL LANGUAGE SYNTAX  FOR LOOP

for (initialisation;condition;step){
  block of statements
}


# PYTHON LANGUAGE SYNTAX

for i in range(start,end,step);
block of statements

In [ ]:
# UNIVERSAL SYNTAX  FOR  WHILE LOOP
initialisation

while condition:
  block of statements
  step

i = 3
while i<15 :
  print(i)
  i+=1

In [ ]:
# running  of  python  in  vs  code
 python filename.py
# for example
 python app.py

In [ ]:
#taking an input
variable = input()

In [ ]:
#taking  an  output
print(function)

In [ ]:
# EXAMPLE  FOR TAKING AN INPUT AND  OUTPUT
a = input()
print(a)

In [ ]:
# VARIABLES ARE THE  CONTAINER  TO STORE  THE  DATA TO USE  FOR  THE FURTHER  STATEMENTS
#FOR  EXAMPLE
LP1 = 500000
LP2 = 1000000
SUM =LP1+LP2
print(SUM)

1500000

In [ ]:

# MAIN DATA TYPES USED IN PYTHON
 Int
 String
 Float
 BOOLEAN

In [ ]:
# IF ELSE SYNTAX
if condtion:
  block of  statements
else:
  block of statements

# for example
age = int(input())
if age>=18:
  print("eligible for voting")
else:
  print("not eligible for voting")

99
eligible for voting

In [ ]:
# TYPES OF CONDITIONAL STATEMENTS
 1 if Condition (This executes a block of code only if the condition is True)
 2 if else condition (This provides two paths â€” one when the condition is True, and one when it's False)
 3 nested if condition(if elif else ) (This is used when you have multiple conditions to check in sequence)

In [ ]:
# REVERSED  CODE
# ITERATION - 1
num = int(input())
sam = 0
while(num>0):
  samba = num%10
  sam = (sam*10)+samba
  num = num//10
print(sam)

In [ ]:
# REVERSE CODE iteration -2
i=input()
print(i[::-1])

In [ ]:
# PALINDROME CODE
num = int(input("Enter a number: "))
original = num  # store the original number
sam = 0

while num > 0:
    samba = num % 10
    sam = (sam * 10) + samba
    num = num // 10

print("Reversed number:", sam)

if original == sam:
    print("It's a palindrome number.")
else:
    print("It's not a palindrome number.")

Enter a number: 5412896
Reversed number: 6982145
It's not a palindrome number.